.chart-bar-wrap {
  overflow-y: scroll;
  height: 390px !important;
}

.chart-bar-area {
  /* position: relative;
  height: 1000px; */
}

.card-wrap {
  border-radius: 5px;
  margin: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
