.register-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.register-warp {
  width: 400px;
  height: 600px;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo-register {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.register-link {
  color: #1976d2;
  cursor: pointer;
}
