.navbar-top-wrap {
  height: 65px;
  right: 0;
  position: fixed;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  box-sizing: border-box;
  padding: 10px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .navbar-top-wrap {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.navbar-top-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-menu {
  width: fit-content;
  cursor: pointer;
}

.icon-menu-mobile {
  display: none;
  width: fit-content;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .icon-menu {
    display: none;
  }

  .icon-menu-mobile {
    display: flex;
  }
}

.mobile-menu-sidebar-backdrop {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(38 36 36 / 85%);
  z-index: 99998;
}

.sidebar-mobile-wrap {
  width: 240px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}

.show-menu-mobile {
  display: block !important;
}

.sidebar-mobile-container {
  position: absolute;
  width: 240px;
  left: 0;
  top: 0;
  display: none;
  z-index: 99999;
}
