* {
  margin: 0;
}

body {
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

.layout-wrap {
  /* display: flex; */
}

.content-wrap {
  width: calc(100% - 240px);
  margin-left: 240px;
  transition: 0.5s;
}

.content-wrap-responsive-mini {
  width: calc(100% - 64px) !important;
  margin-left: 64px !important;
}

.content-main {
  padding-top: 65px;
  width: 100%;
  height: calc(100% - 75px);
}

.bg-blur {
  border-radius: 10px;
  width: 100%;
  min-height: calc(100vh - 113px);
  background-color: rgba(255, 255, 255, 0.95);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .bg-blur {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@media only screen and (max-width: 600px) {
  .sidebar-wrap {
    display: none;
  }

  .content-wrap {
    width: 100%;
    margin-left: 0;
  }

  .navbar-top-wrap {
    width: 100% !important;
    left: 0;
  }

  .content-wrap-responsive-mini {
    margin-left: 0 !important;
    width: 100% !important;
  }
}
